# --- Sistema ---
.DS_Store
Thumbs.db

# --- Backend (.NET) ---
Backend/bin/
Backend/obj/
Backend/.vscode/
Backend/appsettings.Development.json
*.user

# --- Frontend (Angular) ---
Frontend/node_modules/
Frontend/.angular/
Frontend/dist/
Frontend/.vscode/
*.log